@model PosShared.ViewModels.ItemVariationsViewModel

@{
    ViewData["Title"] = "Item Variations";
}

<h1>@ViewData["Title"]</h1>

<h3>Item Variations for Item: @Model.ItemId</h3>

@if (Model.Variations.Any())
{
    <ul>
        @foreach (var variation in Model.Variations)
        {
            <li>
                OrderItemID:@Model.OrderItemId VariationID:@variation.Id - OrderId: @Model.OrderId
                <form method="post" asp-action="AddItemVariationToOrderItem">
                    <input type="hidden" name="orderItemId" value="@Model.OrderItemId" />
                    <input type="hidden" name="varId" value="@variation.Id" />
                    <input type="hidden" name="orderId" value="@Model.OrderId" />

                    <button type="submit" class="btn btn-primary">Add Variation</button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <p>No variations available for this item.</p>
}
