@model PosShared.ViewModels.ItemVariationsViewModel

@{
    ViewData["Title"] = "Selected item Variations";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="/Order/Payment/@Model.OrderId">Edit</a> |

</p>

<h3>Item Variations for Item: @Model.ItemId</h3>


@if (Model.Variations.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Additional price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var variation in Model.Variations)
            {
                <tr>
                    <td>@variation.Id</td>
                    <td>@variation.Name</td>
                    <td>@variation.AdditionalPrice</td>
                    <td>
                        <a asp-action="SelectItems" asp-route-orderId="@Model.OrderId" class="btn btn-secondary">
                            Back to Order View
                        </a>
                        <form asp-action="DeleteVariation" method="post">
                            <input type="hidden" name="variationId" value="@variation." />
                            <button type="submit" class="btn btn-danger">
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>No variations available for this item.</p>
}
