@model List<PosShared.Models.ItemVariation>

<h1>Variations</h1>
<p>
    <a asp-action="VariationCreate" asp-route-itemId="@ViewBag.ItemId" class="btn btn-success">Add New Variation</a>
</p>
@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Additional Price</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var variation in Model)
            {
                <tr>
                    <td>@variation.Id</td>
                    <td>@variation.Name</td>
                    <td>@variation.AdditionalPrice</td>
                    <td>
                        <a asp-action="EditVariation" asp-route-id="@variation.Id" class="btn btn-warning">Edit</a>

                    </td>
                    <td>
                        <form asp-action="DeleteVariation" method="post">
                            <input type="hidden" name="id" value="@variation.ItemId" />
                            <input type="hidden" name="varId" value="@variation.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No variations found for this item.</p>
}
