@model PosShared.PaginatedResult<PosShared.Models.Business>

<h1>Businesses</h1>

<p>
    <a href="@Url.Action("Create", "Business")">Create New Business</a>
</p>

@if (Model.Items.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>VAT Code</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var business in Model.Items)
            {
                <tr>
                    <td>@business.Id</td>
                    <td>@business.Name</td>
                    <td>@business.PhoneNumber</td>
                    <td>@business.Email</td>
                    <td>@business.Address</td>
                    <td>@business.VATCode</td>
                    <td>@business.Type</td>
                    <td>
                        <a href="/Business/Edit/@business.Id">Edit</a> |
                        <a href="/Business/Delete/@business.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Order pagination">
        <ul class="pagination justify-content-center">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?pageNumber=@(Model.PageNumber - 1)&pageSize=@Model.PageSize" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="?pageNumber=@i&pageSize=@Model.PageSize">@i</a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?pageNumber=@(Model.PageNumber + 1)&pageSize=@Model.PageSize" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>

}
else
{
    <p>No businesses available.</p>
}
